[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
streamlit = "*"
beautifulsoup4 = "*"
openpyxl = "*"
xlrd = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.2"
